* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
    /* (для body) растягивает body на всю ширину контейнера html */
    /* (для html) растягивает на всю высоту страницы */
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family:inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size:inherit; font-weight: 400;}

@font-face {
    font-family: "DSEG7";
    src: url(../fonts/dseg7.woff2) format("woff2")
}

:root {
    --green: rgb(19, 154, 19);
    --green-border: rgb(10, 78, 10);
    --red: rgb(190, 37, 37);
    --red-border: rgb(94, 14, 14);
    --red-text: rgb(140, 21, 21);
    --blue: rgba(35, 93, 196, 0.15);
    --blue-border: rgb(35, 93, 164);
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color: rgb(4, 21, 38);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*max-width: 650px;*/
    /*min-width: 650px;*/
}

p.error {
    font-family: "Georgia", serif;
    font-size: 2em;
    color: var(--red-text);
    text-align: center;
}

#zone {
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--blue-border);
    margin-bottom: 30px;
    max-width: 450px;
}

#countdown {
    font-family: "DSEG7", serif;
    font-size: 4.5em;
    color: var(--red);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#countdown.ready {
    color: var(--green);
}

#status-button {
    font-family: "Georgia", serif;
    font-size: 3em;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(178, 49, 49);
    min-width: 450px;
    max-width: 450px;
    min-height: 160px;
    border: 2px solid var(--red-border);
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

#status-button.clicked {
    cursor: default;
    color: rgb(190, 190, 190);
}

#status-button.ready {
    background-color: var(--green);
    border-color: var(--green-border);
}

#status-button-error {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    min-width: 450px;
    max-width: 450px;
}

#status-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-width: 815px;
}

#cameras {
    --cameras-width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: var(--cameras-width);
    min-width: var(--cameras-width);
}

legend {
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 0.25em;
    color: var(--blue-border);
}

fieldset {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: var(--blue);
    border: 2px solid var(--blue-border);
    border-radius: 10px;
}

.camera {
    display: flex;
    flex-direction: column;
    align-items: center; /*can be commented*/
    margin-bottom: 20px;
}

p.connection-state {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--blue-border);
    margin-top: 5px;
    margin-left: 10px;
}

mark.green {
    background: none;
    color: var(--green);
}

mark.red {
    background: none;
    color: var(--red-text);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
    --arrow-size: 5px;
    --tooltip-width: 72px;
    --tooltip-color: rgb(85, 85, 85);
    visibility: hidden;
    width: var(--tooltip-width);
    background-color: var(--tooltip-color);
    font-family: "Georgia", serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: calc(var(--tooltip-width) / -2); /* Use half of the width, to center the tooltip */
    margin-bottom: var(--arrow-size);
}

.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: calc(var(--arrow-size) * -1);
    border-width: var(--arrow-size);
    border-style: solid;
    border-color: var(--tooltip-color) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}

.icon {
    display: inline-block;
    background-size: cover;
    --scale: 0.6;
}

.icon + .icon {
    margin-left: 25px;
}

.icon.spinner {
    --spinner-width: 75px;
    --spinner-height: 75px;
    width: var(--spinner-width);
    height: var(--spinner-height);
    align-self: center;
    animation: 2.5s spin linear infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.icon.truck {
    background-image: url(../img/truck-grey.svg);
    --truck-width: 94px;
    --truck-height: 75px;
    width: calc(var(--truck-width) * var(--scale));
    height: calc(var(--truck-height) * var(--scale));
}

.icon.truck.green {
    background-image: url(../img/truck-green.svg);
}

.icon.truck.red {
    background-image: url(../img/truck-red.svg);
}

.icon.human {
    background-image: url(../img/human-grey.svg);
    --human-width: 75px;
    --human-height: 75px;
    width: calc(var(--human-width) * var(--scale));
    height: calc(var(--human-height) * var(--scale));
}

.icon.human.green {
    background-image: url(../img/human-green.svg);
}

.icon.human.red {
    background-image: url(../img/human-red.svg);
}

.icon.input {
    background-image: url(../img/input-grey.svg);
    --input-width: 47px;
    --input-height: 75px;
    width: calc(var(--input-width) * var(--scale));
    height: calc(var(--input-height) * var(--scale));
}

.icon.input.green {
    background-image: url(../img/input-green.svg);
}

.icon.input.red {
    background-image: url(../img/input-red.svg);
}

.icon#status {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.icon.heart-crack {
    background-image: url(../img/heart-crack.svg);
    --heart-crack-width: 75px;
    --heart-crack-height: 75px;
    width: calc(var(--heart-crack-width) * var(--scale));
    height: calc(var(--heart-crack-height) * var(--scale));
}

.icon.circle-check {
    background-image: url(../img/circle-check.svg);
    --circle-check-width: 75px;
    --circle-check-height: 75px;
    width: calc(var(--circle-check-width) * var(--scale));
    height: calc(var(--circle-check-height) * var(--scale));
}

.icon.circle-xmark {
    background-image: url(../img/circle-xmark.svg);
    --circle-xmark-width: 75px;
    --circle-xmark-height: 75px;
    width: calc(var(--circle-xmark-width) * var(--scale));
    height: calc(var(--circle-xmark-height) * var(--scale));
    cursor: pointer;
}
